{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Posts{% endblock %}</h1>
  {% if 'user_id' in session %}
    <a class="action" href="{{ url_for('blog.create') }}">New</a>
  {% endif %}
{% endblock %}

{% block content %}
  {% for post in posts %}
    <article class="post">
      <header>
        <div>
          <h1>{{ post['title'] }}</h1>
          <div class="about">by {{ post['nickname'] }} on {{ post['created_time'].strftime('%Y-%m-%d') }}</div>
        </div>
        {% if session.get('user_id') == post['author_id'] %}
          <a class="action" href="{{ url_for('blog.update', post=post['id']) }}">Edit</a>
        {% endif %}
      </header>
      <p class="body">{{ post['body'] | safe }}</p>
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}
